body {
    background-color: rgb(255, 255, 255);
    max-width: 960px;
    margin: auto;
};

h1 {
    display: flex;
    justify-content: center;
    color:rgb(55, 132, 132)
}

.addRow {
    input {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
        p {
            display: flex;
            justify-content: center;
        }
    button {
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    
} 

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: rgb(55, 132, 132);
    p {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-style: solid;
        border-bottom: solid;
        border-width: 2px;
        border-color: rgb(155, 102, 102);
        margin-top: 0;
        margin-bottom: 0;
        padding: auto auto auto auto;
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 30px;
    font-size: 12px;
    color: rgb(0, 0, 0);

    p {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: solid;
        border-width: 2px;
        border-color: rgb(155, 102, 102);
        margin-top: 0;
        margin-bottom: 0;
        padding: auto auto auto auto;
    }
}